.venv
.env

node_modules

# django ignore
# .gitignore
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.rej
*.rdb
*.rpyc
*.rpyo
*.so
*.sqlite3
*.swp
.DS_Store
.Python
.env
.venv/
db.sqlite3
dist/
build/
*.egg-info/
*.egg
docs/_build/
media/